
    /* Styling for the first table */
    .Table1 {
        width: 90%; /* Adjust width as needed */
        margin: 20px auto; /* Center the table */
    }

    .Table1 th, .Table1 td {
        border: 1px solid #dddddd;
        padding: 8px;
    }
    .Table1 td:first-child {
        width: 20%; /* Set width of the first column */
    }
    .Table1 td:last-child {
        width: 80%; /* Set width of the second column */
    }
    #message {
        color: red;
        margin-top: 10px;
    }
    /* Styling for the second table */
    .Table2 {
        border-collapse: collapse;
        margin: 20px auto; /* Center the table */
        width: 200px; /* Set a fixed width for the table */
        height: 200px;
    }
    .Table2 th, .Table2 td {
        border: 3px solid #dddddd;
        padding: 8px;
        text-align: center;
    }
    select {
    top: unset !important;
    bottom: auto !important;
}
#tableSizeDropdown {
    top: unset !important;
    bottom: auto !important;
}