/*
color codes:
light - 
sage green - #B3C6BC
pumpkin - #F8B263

dark - 
spooky lavender - 3D2C44
dark green - 2A361F
contrast: 

*/

.space {
    width: 80%;
    margin-left: 5%;
}
body {
    background-color:#B3C6BC;
    color: #3D2C44;
    width: 80%;
    margin-left: 10%;
}
p {
    color: black
}
nav {
    min-width: 50%;
    width: 90%;
   
    list-style: none;
    text-align: left;
    background-color:#B3C6BC;
    display: block;
    position: static;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 27px;
    padding-bottom: 26px;

}
nav {
    float: center;
    text-align: left;
    display: block;
    background-color: #3D2C44;
    /*padding: 30px;*/
}

nav  a {
    font-size:x-large;
    text-decoration: none;
    color:#B3C6BC;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav  a:hover {
    padding-block: 30px;

    font-style: italic;
}

.toAbout{
    text-decoration: none;
    background-color: #53665C;
    color: #F69F3C;

}

.toAbout:hover {
    font-style: italic;
}

.floatLEft {
    float: left;
    display: block;
    
}

ul .adam{
    list-style-image: url('local_html/CS312FinalProject-PhPantoms/photos/ZkePFP.png');
}
